[Unit]
Description=RedShift
After=multi-user.target lightdm.service

[Service]
Type=simple
ExecStart=/usr/bin/redshift

[Install]
WantedBy=default.target